.footer{
    background-color: var(--bg-color-2);
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
}

.footer li{
    margin: 1rem 0;
}

.footer__logo-info{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
text-align: center;
line-height: 1.5rem;
width: 290px;

}
.footer img{
    width: 50%;
}
.info__listas{
    gap:1rem;
}
.info__link{
    color: var(--text-color);
    font-weight: 500;
line-height: 19px;
    padding: 0.5rem 0;
}

.formcontact__form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formcontact__form__container{
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.formcontact__label{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 700;
}
.formcontact__input{
    background: var(--bg-color);
    border-radius: 4px;
    border: none;
    height: 50px; 
}
#nombre::placeholder{
    color: var(--letter-shadow);
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
}
.formcontact__textarea{
    color: var(--letter-shadow);
    background: var(--bg-color);
    border-radius: 4px;
    border: none;
    font-size: 12px;
    height: 85px;
    margin: 15px 0;
}
.formcontact__textarea::placeholder{
    color: var(--letter-shadow);
    font-size: 16px;
    padding: 5px;
}

.formcontacto__boton:hover{
    color: black;
    background-color: var(--gray-dark-color);
}
.input-message-error{
    display: none;
}

.footer__boton{
    border: none;
    color: var(--bg-color);
    background-color: var(--link-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;
    flex: none;
    width: 40%;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer__logo-info{
        align-items: flex-start;
        text-align: start;
        padding: 0px;
        
        width: 254px;
    
    }

    .footer__form{
        width: 65%;
    }
    
}